<a href="https://colab.research.google.com/github/amankharwal/Amazon-Sentiment-Analysis/blob/master/NER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving ner_dataset.csv to ner_dataset.csv

In [ ]:
import pandas as pd
data = pd.read_csv('ner_dataset.csv', encoding= 'unicode_escape')
data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [ ]:
from itertools import chain
def get_dict_map(data, token_or_tag):
    tok2idx = {}
    idx2tok = {}
    
    if token_or_tag == 'token':
        vocab = list(set(data['Word'].to_list()))
    else:
        vocab = list(set(data['Tag'].to_list()))
    
    idx2tok = {idx:tok for  idx, tok in enumerate(vocab)}
    tok2idx = {tok:idx for  idx, tok in enumerate(vocab)}
    return tok2idx, idx2tok


token2idx, idx2token = get_dict_map(data, 'token')
tag2idx, idx2tag = get_dict_map(data, 'tag')

In [ ]:
data['Word_idx'] = data['Word'].map(token2idx)
data['Tag_idx'] = data['Tag'].map(tag2idx)
data.head()

    Sentence #           Word  POS Tag  Word_idx  Tag_idx
0  Sentence: 1      Thousands  NNS   O      2595        9
1          NaN             of   IN   O     29781        9
2          NaN  demonstrators  NNS   O      1656        9
3          NaN           have  VBP   O     30586        9
4          NaN        marched  VBN   O     16804        9

In [ ]:
data_fillna = data.fillna(method='ffill', axis=0)
# Groupby and collect columns
data_group = data_fillna.groupby(
['Sentence #'],as_index=False
)['Word', 'POS', 'Tag', 'Word_idx', 'Tag_idx'].agg(lambda x: list(x))
# Visualise data
data_group.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """

        Sentence #  ...                                            Tag_idx
0      Sentence: 1  ...  [9, 9, 9, 9, 9, 9, 2, 9, 9, 9, 9, 9, 2, 9, 9, ...
1     Sentence: 10  ...  [15, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,...
2    Sentence: 100  ...  [9, 9, 4, 9, 9, 9, 9, 9, 2, 9, 9, 9, 9, 9, 14,...
3   Sentence: 1000  ...                  [9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9]
4  Sentence: 10000  ...  [2, 9, 9, 0, 8, 9, 4, 9, 2, 9, 15, 9, 15, 9, 9...

[5 rows x 6 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical

In [ ]:
def get_pad_train_test_val(data_group, data):

    #get max token and tag length
    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))

    #Pad tokens (X var)    
    tokens = data_group['Word_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= n_token - 1)

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['Tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]
    
    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)

    print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tokens length:', len(train_tokens),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
        '\nval_tokens:', len(val_tokens),
        '\nval_tags:', len(val_tags),
    )
    
    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(data_group, data)

train_tokens length: 32372
train_tokens length: 32372
test_tokens length: 4796
test_tags: 4796
val_tokens: 10791
val_tags: 10791

In [ ]:
import numpy as np
import tensorflow
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional
from tensorflow.keras.utils import plot_model

In [ ]:
from numpy.random import seed
seed(1)
tensorflow.random.set_seed(2)

In [ ]:
input_dim = len(list(set(data['Word'].to_list())))+1
output_dim = 64
input_length = max([len(s) for s in data_group['Word_idx'].tolist()])
n_tags = len(tag2idx)

In [ ]:
def get_bilstm_lstm_model():
    model = Sequential()

    # Add Embedding layer
    model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))

    # Add bidirectional LSTM
    model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))

    # Add LSTM
    model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))

    # Add timeDistributed Layer
    model.add(TimeDistributed(Dense(n_tags, activation="relu")))

    #Optimiser 
    # adam = k.optimizers.Adam(lr=0.0005, beta_1=0.9, beta_2=0.999)

    # Compile model
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.summary()
    
    return model

In [ ]:
def train_model(X, y, model):
    loss = list()
    for i in range(25):
        # fit model for one epoch on this sequence
        hist = model.fit(X, y, batch_size=1000, verbose=1, epochs=1, validation_split=0.2)
        loss.append(hist.history['loss'][0])
    return loss

In [ ]:
results = pd.DataFrame()
model_bilstm_lstm = get_bilstm_lstm_model()
plot_model(model_bilstm_lstm)
results['with_add_lstm'] = train_model(train_tokens, np.array(train_tags), model_bilstm_lstm)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 104, 64)           2251456
_________________________________________________________________
bidirectional (Bidirectional (None, 104, 128)          66048
_________________________________________________________________
lstm_1 (LSTM)                (None, 104, 64)           49408
_________________________________________________________________
time_distributed (TimeDistri (None, 104, 17)           1105
=================================================================
Total params: 2,368,017
Trainable params: 2,368,017
Non-trainable params: 0
_________________________________________________________________
26/26 [==============================] - 133s 5s/step - loss: 0.5285 - accuracy: 0.9588 - val_loss: 0.2945 - val_accuracy: 0.9681
26/26 [==============================] - 131s 5s/step - loss: 0.2870 - accuracy: 0.9677 - val_loss: 0.2864 - val_accuracy: 0.9681
26/26 [==============================] - 132s 5s/step - loss: 0.2676 - accuracy: 0.9677 - val_loss: 0.2558 - val_accuracy: 0.9681
26/26 [==============================] - 131s 5s/step - loss: 0.2496 - accuracy: 0.9677 - val_loss: 0.2175 - val_accuracy: 0.9681
26/26 [==============================] - 133s 5s/step - loss: 0.2172 - accuracy: 0.9677 - val_loss: 0.1986 - val_accuracy: 0.9681
26/26 [==============================] - 132s 5s/step - loss: 0.1994 - accuracy: 0.9677 - val_loss: 0.1898 - val_accuracy: 0.9681
26/26 [==============================] - 131s 5s/step - loss: 0.1893 - accuracy: 0.9677 - val_loss: 0.1811 - val_accuracy: 0.9681
26/26 [==============================] - 131s 5s/step - loss: 0.1898 - accuracy: 0.9677 - val_loss: 0.1794 - val_accuracy: 0.9681
26/26 [==============================] - 131s 5s/step - loss: 0.1785 - accuracy: 0.9677 - val_loss: 0.1731 - val_accuracy: 0.9681
26/26 [==============================] - 131s 5s/step - loss: 0.1680 - accuracy: 0.9678 - val_loss: 0.1681 - val_accuracy: 0.9681
26/26 [==============================] - 131s 5s/step - loss: 0.1637 - accuracy: 0.9678 - val_loss: 0.1620 - val_accuracy: 0.9682
26/26 [==============================] - 131s 5s/step - loss: 0.1307 - accuracy: 0.9679 - val_loss: 0.1246 - val_accuracy: 0.9682
26/26 [==============================] - 131s 5s/step - loss: 0.1196 - accuracy: 0.9679 - val_loss: 0.1263 - val_accuracy: 0.9683
26/26 [==============================] - 130s 5s/step - loss: 0.1135 - accuracy: 0.9680 - val_loss: 0.1176 - val_accuracy: 0.9684
26/26 [==============================] - 131s 5s/step - loss: 0.1048 - accuracy: 0.9681 - val_loss: 0.1112 - val_accuracy: 0.9685
26/26 [==============================] - 131s 5s/step - loss: 0.1018 - accuracy: 0.9683 - val_loss: 0.1301 - val_accuracy: 0.9687
26/26 [==============================] - 130s 5s/step - loss: 0.1053 - accuracy: 0.9682 - val_loss: 0.1061 - val_accuracy: 0.9685
26/26 [==============================] - 130s 5s/step - loss: 0.0924 - accuracy: 0.9685 - val_loss: 0.1020 - val_accuracy: 0.9690
26/26 [==============================] - 131s 5s/step - loss: 0.0891 - accuracy: 0.9690 - val_loss: 0.1040 - val_accuracy: 0.9693
26/26 [==============================] - 131s 5s/step - loss: 0.0988 - accuracy: 0.9693 - val_loss: 0.1060 - val_accuracy: 0.9696
26/26 [==============================] - 130s 5s/step - loss: 0.0883 - accuracy: 0.9694 - val_loss: 0.0975 - val_accuracy: 0.9702
26/26 [==============================] - 132s 5s/step - loss: 0.0821 - accuracy: 0.9702 - val_loss: 0.0991 - val_accuracy: 0.9710
26/26 [==============================] - 132s 5s/step - loss: 0.0802 - accuracy: 0.9713 - val_loss: 0.1008 - val_accuracy: 0.9711
26/26 [==============================] - 131s 5s/step - loss: 0.0777 - accuracy: 0.9719 - val_loss: 0.0993 - val_accuracy: 0.9723
26/26 [==============================] - 131s 5s/step - loss: 0.1020 - accuracy: 0.9700 - val_loss: 0.1135 - val_accuracy: 0.9696

In [ ]:
import spacy
from spacy import displacy
nlp = spacy.load('en_core_web_sm')
text = nlp('Hi, My name is Aman Kharwal \n I am from India \n I want to work with Google \n Steve Jobs is My Inspiration')
displacy.render(text, style = 'ent', jupyter=True)